:root {
  --ifm-color-primary: #3776ab;
  --ifm-color-primary-dark: #2f6a9a;
  --ifm-color-primary-darker: #2c6491;
  --ifm-color-primary-darkest: #245278;
  --ifm-color-primary-light: #4183b8;
  --ifm-color-primary-lighter: #4889bc;
  --ifm-color-primary-lightest: #5c9ac6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #5c9ac6;
  --ifm-color-primary-dark: #4589bb;
  --ifm-color-primary-darker: #3d82b5;
  --ifm-color-primary-darkest: #326b95;
  --ifm-color-primary-light: #73abd1;
  --ifm-color-primary-lighter: #7bb1d4;
  --ifm-color-primary-lightest: #9cc5df;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hero {
  background: linear-gradient(135deg, #3776ab 0%, #1e4d6b 100%);
}
